@import "~TimelineJS3/compiled/css/timeline.css";

html, body, #timeline-embed {
	width: 100%;
	height: 100%;
	margin: 0;
}

.tl-storyslider {
	top: 0 !important;
}

.tl-attribution {
	display: none;
}

.tl-media .tl-media-blockquote blockquote.small {
	font-size: 1.2em;
}

// Timeline Era backgrounds
.tl-timeera.tl-timeera-color0 .tl-timeera-background {
}
.tl-timeera.tl-timeera-color1 .tl-timeera-background {
	background-color: #151f6d;
}
.tl-timeera.tl-timeera-color2 .tl-timeera-background {
	background-color: #3A3A3A;
}
.tl-timeera.tl-timeera-color3 .tl-timeera-background {
	background-color: #be202e;
}
.tl-timeera.tl-timeera-color4 .tl-timeera-background {
}
.tl-timeera.tl-timeera-color5 .tl-timeera-background {
}
