<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>L4GG | Timeline</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:title" content="L4GG | Russiagate Timeline" />
 		<meta property="og:type" content="website" />
 		<meta property="og:url" content="http://timeline.lawyersforgoodgovernment.org" />
 		<meta property="og:image" content="https://s3-us-west-2.amazonaws.com/blueboost/l4gg/photocreditcnn.jpg" />
 		<meta property="og:description" 
   content="A comprehensive timeline of Trump and Russia interactions over the last 30 years. Researched by volunteer lawyers." />
   		<meta property="og:site_name" content="Lawyers for Good Government" />
   		<meta name="twitter:card" content="summary_large_image" />
 		<meta name="twitter:description" content="A comprehensive timeline of Trump and Russia interactions over the last 30 years. Researched by volunteer lawyers." />
 		<meta name="twitter:title" content="L4GG | Russiagate Timeline" />
 		<meta name="twitter:site" content="@russia_timeline" />
 		<meta name="twitter:image" content="https://s3-us-west-2.amazonaws.com/blueboost/l4gg/photocreditcnn.jpg" />
 		<meta name="twitter:creator" content="@lawyers4goodgov" />
	</head>
	<body>
		<div id="timeline"></div>
	</body>
</html>
