<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>L4GG | Timeline</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div id="l4gg-header">
			<ul>
				<li id="l4gg-header-logo">L4GG</li>
				<li id="l4gg-header-restart"><a href="#event-timeline">Back to Beginning</a></li>
				<!-- I don't know how to make this work -^ -->
				<li id="l4gg-header-search">
					<input type="text" name="search" id="search" placeholder="Search">
				</li>
				<li id="l4gg-header-donate"><a href="http://www.lawyersforgoodgovernment.org/donate"><button>Donate</button></a></li>
			</ul>
		</div>
		<div id="timeline"></div>
	</body>
</html>
